* {
  font-family: monospace;
}

.screen {
  width: 400px;
  height: 400px;
  border-top: 15px ridge lightgrey;
  border-bottom: 15px groove lightgrey;
  border-left: 60px ridge lightgrey;
  border-right: 60px groove lightgrey;
}

.keypad-row {
  display: flex;
  flex-direction: row;
}

.container {
  display: flex;
  flex-direction: column;
}

.screen-container {
  display: flex;
  flex-direction: row;
}

.keys-container {
  display: flex;
  flex-direction: row;
}

.cardslot, .money-button {
  height: 30px;
  width: 120px;
  border: 1px solid black;
  cursor: pointer;
}

.cancel-button, .ok-button, .reset-button, .back-button  {
  width: 50px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.leftside-button, .rightside-button, .keypad-button {
  width: 40px;
  height: 20px;
  border: 1px solid black;
  cursor: pointer;
}

.blink {
  animation: blink 1.5s steps(2, start) infinite;
}

@keyframes blink {
  to { visibility: hidden; }
}
